@using SutekiTmp.Viewmodels.Login
@model LoginViewModel;
@{
    ViewData["Title"] = "Index";
}
@section Scripts{
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                LoginByCookieAuth
            </div>
            <div class="card-body">
                <div asp-validation-summary="ModelOnly"></div>
                <form method="post" action="@Url.Action("LoginByCookieAuth","Login")">
                    <div class="mb-3">
                        <label for="UserName" class="form-label">UserName</label>
                        @Html.TextBoxFor(m=>m.UserName,new { @class ="form-control"})
                        @Html.ValidationMessageFor(m=>m.UserName,"",new {@class = "text-danger"})
                    </div>
                    <div class="mb-3">
                        <label for="Password" class="form-label">Password</label>
                        @Html.TextBoxFor(m=>m.Password,new { @class ="form-control"})
                        @Html.ValidationMessageFor(m=>m.Password,"",new {@class = "text-danger"})
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                LoginBySession
            </div>
            <div class="card-body">
                <form method="post" action="@Url.Action("LoginBySession","Login")">
                    <div class="mb-3">
                        <label for="UserName" class="form-label">UserName</label>
                        @Html.TextBoxFor(m=>m.UserName,new { @class ="form-control"})
                        @Html.ValidationMessageFor(m=>m.UserName,"",new {@class = "text-danger"})
                    </div>
                    <div class="mb-3">
                       <label for="Password" class="form-label">Password</label>
                        @Html.TextBoxFor(m=>m.Password,new { @class ="form-control"})
                        @Html.ValidationMessageFor(m=>m.Password,"",new {@class = "text-danger"})
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top:15px">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                LoginByCustomAuth
            </div>
            <div class="card-body">
                <form method="post" action="@Url.Action("LoginByCustomAuth","Login")">
                     <div class="mb-3">
                        <label for="UserName" class="form-label">UserName</label>
                        @Html.TextBoxFor(m=>m.UserName,new { @class ="form-control"})
                        @Html.ValidationMessageFor(m=>m.UserName,"",new {@class = "text-danger"})
                    </div>
                    <div class="mb-3">
                       <label for="Password" class="form-label">Password</label>
                        @Html.TextBoxFor(m=>m.Password,new { @class ="form-control"})
                        @Html.ValidationMessageFor(m=>m.Password,"",new {@class = "text-danger"})
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                X
            </div>
            <div class="card-body">
               <form method="post" action="">
                     <div class="mb-3">
                        <label for="UserName" class="form-label">UserName</label>
                        @Html.TextBoxFor(m=>m.UserName,new { @class ="form-control"})
                        @Html.ValidationMessageFor(m=>m.UserName,"",new {@class = "text-danger"})
                    </div>
                    <div class="mb-3">
                       <label for="Password" class="form-label">Password</label>
                        @Html.TextBoxFor(m=>m.Password,new { @class ="form-control"})
                        @Html.ValidationMessageFor(m=>m.Password,"",new {@class = "text-danger"})
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>



